@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Dana";
    src: local("Dana"), url(../../public/fonts/Dana/Dana-Regular.ttf) format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Dana Medium";
    src: local("Dana"), url(../../public/fonts/Dana/DanaFaNum-Medium.woff2) format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Dana DemiBold";
    src: local("Dana"), url(../../public/fonts/Dana/Dana-Bold.ttf) format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Morabba Light";
    src: local("Dana"), url(../../public/fonts/Morabba/Morabba-Light.woff2) format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Morabba Medium";
    src: local("Dana"), url(../../public/fonts/Morabba/Morabba-Medium.woff2) format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Morabba Bold";
    src: local("Dana"), url(../../public/fonts/Morabba/Morabba-Bold.woff2) format("woff2");
    font-display: swap;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  @apply scroll-smooth
}

body {
  @apply text-secondary text-[17px] leading-8
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-primary leading-[120%];
}

h1 {
  @apply text-[30px] sm:text-[36px] xl:text-[64px] font-semibold
}

h2 {
  @apply text-[25px] sm:text-[30px] xl:text-[44px] font-semibold tracking-[0.44px]
}

h3,
h4 {
  @apply text-[16px] sm:text-[20px] xl:text-[26px] font-semibold
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {

  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinner {
    -moz-appearance: textfield;
  }
}